@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('/assets/fonts/FiraSansExtraCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

