@import "../utils/variables";

.header-bar {
  box-shadow: 3px 5px 3px $box-shadow_color;
  padding-bottom: 15px;
  margin-right: 5px;
}

#web_dev {
  color: gray;
  font-size: 1.5em;
  margin-left: 2%;
}

.header-bar ul {
  display: flex;
  gap: 10px;
}

#header-title {
  margin-left: 2%;

  display: flex;
  gap: 20px;

  #logo-app {
    width: 70px;
    height: 70px;
  }

  h1 {
    font-size: 2em;
    font-weight: bolder;
  }
}

