@import "../utils/variables";

.nav-list {
  display: flex;
  flex-direction: column;
  transform: rotate(0);
}

nav ul {
  list-style-type: none;
  //display: flex;
  //flex-direction: column;
  //width: 10%;
  //height: 10%;
  //li {
  //  padding-top: 10px;
  //}
  //  img {
  //    padding-right: 7px;
  //  }

  a {
    color: #ff7300;
    font-size: 1.2em;
  }
}

.brand-logo {
  margin-top: 1em;
  margin-left: 0.9em;
  margin-right: 0.8em;
  color: #ff7300;
  font-size: 1.5em;
  font-weight: bold;
}