@import "variables";


@mixin shadow-box($x, $y, $blur, $spread, $color) {
  box-shadow: $x $y $blur $spread $color;
}

@mixin content-section($x, $y, $blur, $spread, $color) {
  @include shadow-box($x, $y, $blur, $spread, $color);

  h4 {
    color: #fff3f3;
    font-weight: bold;
  }

  h3 {
    color : $section-title-font-color;
    font-weight: bold;
  }

  .name {
    text-decoration: underline;
  }

  .date {
    font-style: italic;
  }


  .line {
    border-bottom: black solid 5px;
    width: 100px;
    height: 5px;
    margin: 0.3em 0;
  }

}
